<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="SALTEDGE_URL" value="https://www.saltedge.com/api/v4/"/>
        <env name="SALTEDGE_APP_ID" value="h5aoJLU3bpOUeOeEzpK_fp7hRgzPqmrilmRSePHacA4"/>
        <env name="SALTEDGE_SECRET" value="bloXPWGbsZGShnlEyaTgjvkvZr0smtLZGQFCUfRIbs4"/>
        <env name="SALTEDGE_STORAGE_MODE" value="local"/>
        <env name="SALTEDGE_PRIVATE_KEY_PATH" value="app/saltedge_private.pem"/>
    </php>
    <testsuites>
        <testsuite name="MyPackage Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>